<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="KorabPackagesSource" value="http://pl-dev-kor2qa.skanska.org:8888/nuget" />
    <add key="KorabPackagesSource" value="http://korab-tc-host.cloudapp.net/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="nuget.org Official" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>